exportPattern("^[[:alpha:]]+")
importFrom("stats","aggregate", "as.formula", "contrasts","model.matrix", "update","lm", "binom.test", "pchisq", "qchisq","qnorm")
importFrom("lmtest","gqtest")
importFrom("car","linearHypothesis")
importFrom("graphics", "abline", "legend","polygon","points","lines","boxplot")
importFrom("grDevices", "dev.new", "colorRampPalette")
importFrom("ggplot2","ggplot","geom_sf","aes_string","ggtitle","scale_fill_manual")
importFrom("ggspatial", "annotation_scale","annotation_north_arrow","north_arrow_fancy_orienteering")
importFrom("grid", "unit")